@using Flights.Domain.Entities.Game
@using Flights.Domain.Exception
@using Flights.Domain.ReadModels
@using Flights.Infrastructure.Port

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IGameRepository GamesRepo
@inject ITournamentRepository TournamentRepo

<div class="relative cursor-pointer rounded-lg mud-elevation-4 mb-2 ">
    <div class="bg-light-surface border rounded-lg border-gray-300 dark:bg-dark-surface dark:border-dark-border">
        <div class="p-4">
            <div class="font-bold text-4xl">
                <div class="flex flex-row">

                    <div class="flex flex-grow pt-1 pr-8" @onclick="() => GoToGame()">
                        <GameName Game="@Game"/>
                    </div>
                    @if(Game.IsTournament){
                        <div class="ml-2" @onclick="() => GoToGame()">
                            <MudIcon Icon="@Icons.Material.Outlined.Groups" Size="Size.Medium" Color="Color.Default"/>
                        </div>
                    }
                    @if(Game.Finished != null){
                        <div class="ml-2" @onclick="() => GoToGame()">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Warning"/>
                        </div>
                    } 
                    <div class="pt-1 ml-4">
                        <MudMenu>
                            <ActivatorContent>
                                <MudIcon Icon="@Icons.Material.Filled.MoreVert" Size="Size.Large" Color="Color.Default"/>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem IconColor="Color.Default" Icon="@Icons.Material.Filled.Refresh" OnClick="@ReplayGame">Play again</MudMenuItem>
                                <MudMenuItem IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Delete" OnClick="@DeleteGame">Delete game</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </div> 
               
                </div>           
            </div>
            <div class="mt-4" @onclick="() => GoToGame()">
                <GameItemPlayerBar Players="@Game.Players"/>
            </div>
            <div class="text-xs text-gray-400 mt-1" @onclick="() => GoToGame()">
                @Game.Started.ToLocalTime().ToString("dd.MM.yy  HH:mm")
            </div>
        </div>
    </div>    
</div>

@code{

    [Parameter]
    public GameListItemReadModel Game { get; set; } = null!;
    
    [Parameter]
    public EventCallback ReportGameDeleted {get;set;}

    private void GoToGame()
    {
        if(Game.IsTournament)
            NavigationManager.NavigateTo("/tournament/" + Game.Id);
        else
            NavigationManager.NavigateTo("/game/" + Game.Id);
    }

    private async Task ReplayGame()
    {
        try{
            if (Game.IsTournament)
            {
                var newTournament = await TournamentRepo.ReplayTournament(Game.Id);
                NavigationManager.NavigateTo("/tournament/" + newTournament.Id);
            }
            else
            {
                var newGame = await GamesRepo.ReplayGame(Game.Id);
                NavigationManager.NavigateTo("/game/" + newGame.Id);
            }
        }catch(FlightsGameException ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }catch(Exception){
            Snackbar.Add("Weird unexpected error occured", Severity.Error);
        }
    }

    private async Task DeleteGame()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<DeleteGameDialog>("Delete game", options);
        var result = await dialog.Result;
        
        if(!result?.Canceled ?? false)
        {
            if (Game.IsTournament)
                await RemoveTournament(Game.Id);
            else
                await RemoveGame(Game.Id);
        }
    }

    private async Task RemoveGame(Guid id)
    {
        await GamesRepo.DeleteGame(Game.Id);
        await ReportGameDeleted.InvokeAsync();
            
        Snackbar.Add("Game deleted", Severity.Success);
    }

    private async Task RemoveTournament(Guid id)
    {
        await TournamentRepo.DeleteTournament(id);
        await ReportGameDeleted.InvokeAsync();
        
        Snackbar.Add("Tournament deleted", Severity.Success);
    }

    private string GetGameNameString(){
        switch(Game.Type){
            case GameType.X01:
                return "X01";
            case GameType.Cricket:
            case GameType.CtCricket:
                return "Cricket";
                case GameType.AroundTheClock:
                return "Around The Clock";
            default:
                return "unknown game";
        }
    }

    private string GetBottomMargin(){
        return Game.IsTournament
            ? " mb-4"
            : " mb-2";
    }
}