@using Flights.Domain.Models
@using Flights.Domain.State
<div class="flex flex-row mx-1 h-[750px] overflow-hidden">
    <div class="flex flex-column flex-auto mr-1 pr-2 overflow-hidden">
        <div class="flex flex-row overflow-hidden">
            <div class="flex-shrink border rounded grid grid-rows-7 gap-6 p-2 mt-[100px]">
                <CricketScore Caption="15" IconValue="@CricketValue.None"/>
                <CricketScore Caption="16" IconValue="@CricketValue.Single"/>
                <CricketScore Caption="17" IconValue="@CricketValue.None"/>
                <CricketScore Caption="18" IconValue="@CricketValue.Double"/>
                <CricketScore Caption="19" IconValue="@CricketValue.Open"/>
                <CricketScore Caption="20" IconValue="@CricketValue.Closed"/>
                <CricketScore Caption="B" IconValue="@CricketValue.None"/>
            </div>
            <div class="flex flex-column flex-auto overflow-hidden">
                <div class="@GetGridColumnClasses()">
                    @if(CurrentGame != null){
                        foreach(var player in CurrentGame.PlayerStates){
                        <div>
                            @player.PlayerName
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="flex-shrink">
        <ScoreButtonBoard ReportDart="@ReportScore" RequestRevertDart="@RevertDart"/>
    </div>
</div>

@code{

    [Parameter]
    public GameState? CurrentGame {get;set;}

    [Parameter]
    public EventCallback<StatModel> ReportScore {get;set;}

    [Parameter]
    public EventCallback RevertDart {get;set;}

    private string GetGridColumnClasses(){
        return $"grid grid-cols-{CurrentGame.PlayerStates.Count}";
    }
}