<div class="h-full w-full flex flex-row overflow-hidden">
    @if(Controls.DisplayType == DisplayType.Viewer){    
        <div class="flex ml-1 mb-2">
            <div class="flex flex-row px-1 border rounded-lg mud-elevation-3 border-light-border bg-light-surface dark:border-dark-border dark:bg-dark-surface">
                <div class="mr-2 text-[#777777] dark:text-[#919294]">
                    <div class="flex flex-row mt-15 justify-center">
                        <div class="mt-1 mr-0">
                            <MudIcon Icon="@Icons.Material.Filled.Refresh" Size="Size.Large" Color="Color.Default"/>  
                        </div>                                                       
                        <div class="text-4xl font-bold">
                            @Controls.CurrentGame.Round
                        </div> 
                    </div>  
                    <div class="flex flex-row justify-center pt-6">
                        @if(Controls.CurrentGame.PlayerStates.Count > 6){
                            <div class="flex-shrink grid grid-rows-7 gap-2 m-4">
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.Bulls"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V20"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V19"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V18"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V17"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V16"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V15"/>                                
                            </div>
                        }
                        <div class="flex flex-col justify-items-center mt-6">
                            <div class="text-center text-4xl font-bold mb-12">
                                B
                            </div>
                            @for(var i = 20; i >= 15; i--){
                                <div class="flex text-center text-4xl font-bold mb-12">
                                    @i
                                </div>
                            }
                        </div>
                    </div> 
                </div>
            </div>        
        </div>
    }
    <div class="w-full ml-2 overflow-hidden">
        <div class="h-full flex overflow-auto">
            @foreach (var player in Controls.CurrentGame.PlayerStates)
            {
                <section class="flex-shrink-0">
                    <PlayerStat Player="@player" CurrentPlayerId="@Controls.CurrentGame.CurrentPlayerId" />
                </section>
            }
        </div>
    </div>
    @if(Controls.DisplayType == DisplayType.Normal){
        <div class="flex flex-shrink-0 pr-1 pb-1 mb-2">
            <div class="flex flex-shrink-0 flex-row pl-2 border rounded-lg mud-elevation-3 border-light-border bg-light-surface dark:border-dark-border dark:bg-dark-surface">
                <div class="mr-2 text-[#777777] dark:text-[#919294]">
                    <div class="flex flex-row mt-15 justify-center">
                        <div class="mt-1 mr-0">
                            <MudIcon Icon="@Icons.Material.Filled.Refresh" Size="Size.Large" Color="Color.Default"/>  
                        </div>                                                       
                        <div class="text-4xl font-bold">
                            @Controls.CurrentGame.Round
                        </div> 
                    </div>  
                    <div class="flex flex-row">
                        @if(Controls.CurrentGame.PlayerStates.Count > 5){
                            <div class="grid grid-rows-7 gap-[28px] mt-10 mx-4">
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.Bulls"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V20"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V19"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V18"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V17"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V16"/>
                                <CricketScore IconValue="@Controls.CurrentGame.CricketState?.V15"/>  
                            </div>
                        }
                        <div class="flex flex-col justify-items-center pl-2 mt-12">
                            <div class="text-center text-4xl font-bold mb-12">
                                B
                            </div>
                            @for(var i = 20; i >= 16; i--){
                                <div class="flex text-center text-4xl font-bold mb-12">
                                    @i
                                </div>
                            }     
                            <div class="flex text-center text-4xl font-bold">
                                15
                            </div>                       
                        </div>
                    </div> 
                </div>
                <ScoreButtonBoard/>
            </div>        
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public required GameControls Controls { get; set; }

    private string GetGridColumnClasses(){
        return $"grid grid-cols-{Controls.CurrentGame.PlayerStates.Count}";
    }
}