@using Flights.Client.Service.Port
@using Flights.Domain.State

@inject IThemeInfoProvider ThemeInfoProvider

<div>
    <div class="mb-1">
        <svg width="@Size" height="@Size">
            <circle cx="@(Size/2)" cy="@(Size/2)" r="@(Size/2)" fill="@GetFill(Darts?.D1)" />
        </svg>
    </div>
    <div class="mb-1">
        <svg width="@Size" height="@Size">
            <circle cx="@(Size/2)" cy="@(Size/2)" r="@(Size/2)" fill="@GetFill(Darts?.D2)" />
        </svg>
    </div>
    <div>
        <svg width="@Size" height="@Size">
            <circle cx="@(Size/2)" cy="@(Size/2)" r="@(Size/2)" fill="@GetFill(Darts?.D3)" />
        </svg>
    </div>
</div>

@code{
    [Parameter]
    public DartsState? Darts {get;set;}

    private int Size {get;set;} = 10;

    private string GetFill(DartState? dart){
        var isDark = ThemeInfoProvider.IsDarkMode;
        var gray = isDark ? "#919294" : "#777777";
        if(dart == null)
            return gray;
        
        return "#16a34a"; //green
    }
}