@using Flights.Client.Shared.Toolkit
@using Flights.Domain.State

<div id="@Player.PlayerId" class="flex flex-none rounded-lg mr-2 mb-1 shadow-lg w-[175px] bg-light-surface dark:bg-dark-surface">
    <div class="@GetBorderClasses()">
        <div class="p-1 text-center @GetNameAndPointsClasses()">
            <div class="text-3xl">
                @Player.PlayerName
            </div>
            <div>
                @if(Player.Rank == null){
                    <div class="flex flex-row justify-center">
                        <div class="ml-2 mr-2 mt-3">
                            <PlayerDarts Darts="@Player.Darts"/>
                        </div>
                        <div class="text-6xl font-bold">
                            <RollingNumber Number="@Player.Points" RollerHeight="4rem"/>
                            @* <AnimatedPoints Points="@Player.Points"/> *@
                        </div>
                    </div>
                    
                }else{
                    <div class="flex flex-row justify-center">
                        <div class="mt-4">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Default"/>
                        </div>
                        <div class="ml-1 text-6xl font-bold text-yellow-400">
                            @Player.Rank
                        </div>
                    </div>
                }                
            </div>
        </div>
        <div class="flex-shrink grid grid-rows-7 gap-7 pt-4 justify-center mb-[15px]">
            <CricketScore IconValue="@Player.CricketState?.Bulls" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V20" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V19" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V18" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V17" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V16" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>
            <CricketScore IconValue="@Player.CricketState?.V15" IsPlayer="@true" IsCurrentPlayer="@(Player.PlayerId == CurrentPlayerId)"/>            
        </div>
    </div>
</div>

@code{
    [Parameter]
    public PlayerState Player {get;set;} = null!;

    [Parameter]
    public Guid? CurrentPlayerId {get;set;}

    private string GetNameAndPointsClasses(){
        return Player.PlayerId == CurrentPlayerId
            ? "text-light-player-text-active py-2 dark:text-dark-player-text-active"
            : "text-light-player-text-inactive py-2 dark:text-dark-player-text-inactive";
    }

    private string GetBorderClasses(){
        var baseClasses = "flex flex-grow flex-col rounded-lg border-t-[15px] my-[-1px] border-r-2 border-l-2 border-b-2 ";

        if(Player.Rank != null)
            return baseClasses + "border-yellow-400";

        return Player.PlayerId == CurrentPlayerId
            ? baseClasses + "border-light-player-bd-active dark:border-dark-player-bd-active"
            : baseClasses + "border-light-player-bd-inactive dark:border-dark-player-bd-inactive";
    }
}