<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="icon" type="image/png" href="@Assets["dart.png"]"/>
        <link rel="stylesheet" href="@Assets["css/styles.css"]"/>
        <link rel="stylesheet" href="@Assets["css/custom.css"]"/>
        <link rel="stylesheet" href="@Assets["css/font.css"]"/>        
        <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]"/>
        <HeadOutlet @rendermode="InteractiveServer" />
    </head>
    <body>  
        <Routes @rendermode="InteractiveServer" />
        <script src="_framework/blazor.web.js"></script>
        <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
        <script src="@Assets["js/fullscreen.js"]"></script>
        <script src="@Assets["js/scrolling.js"]"></script>
        <script src="@Assets["js/focus.js"]"></script>
        <script src="@Assets["js/sound.js"]"></script>
        <script src="@Assets["js/clock.js"]"></script>
    </body>
</html>