@page "/creategame"
@using Flights.Client.Authentication
@using Flights.Client.Service.Port
@using Flights.Client.Configuration.Logging
@using Flights.Client.Shared.Games
@using Flights.Domain.Entities
@using Flights.Infrastructure.Port
@using Flights.Client.Shared.Toolkit
@using Flights.Domain.Entities.Game
@using Flights.Util

@inject ISnackbar Snackbar
@inject IGameRepository GameRepo
@inject ITournamentRepository TournamentRepo
@inject IPlayerRepository PlayerRepo
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject IBrowserStorage BrowserStorage
@inject AppLogger<CreateGame> Logger

<div class="flex flex-1 flex-row justify-center mt-4">
    <div class="flex flex-col mr-8">
        <div class="mb-4">
            <BigRoundButton OnClick="@GoToGames" Type="BigRoundButton.ButtonType.Secondary  ">
                <MudIcon Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Large" Style="@($"color:{Colors.Gray.Lighten5};")"></MudIcon>
            </BigRoundButton>
        </div>
        <div>
            <BigRoundButton OnClick="@HandleNewGame">
                <MudIcon Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Large" Style="@($"color:{Colors.Gray.Lighten5};")"></MudIcon>
            </BigRoundButton>
        </div>
    </div>
    <div>
        <MudPaper class="p-4" Elevation="3">
            <MudGrid>
                <MudItem>
                    <div class="text-lg">
                        Tournament
                    </div>
                    <div class="border rounded px-4 mt-1 mb-4">
                        <MudCheckBox @bind-Value="IsTournament" Label="Tournament" Size="Size.Large"></MudCheckBox>
                        <MudSelect @bind-Value="PlayersPerGame" HelperText="Players per game" class="mx-4" Typo="@Typo.h5">
                            <MudSelectItem Value="2">2</MudSelectItem>
                            <MudSelectItem Value="3">3</MudSelectItem>
                            <MudSelectItem Value="4">4</MudSelectItem>
                        </MudSelect>
                        <MudCheckBox @bind-Value="LosersCupForThirdRank" Disabled="IsTournament == false" Label="Losers Cup for 3rd rank" Size="Size.Large"></MudCheckBox>
                    </div>
                    <div class="text-lg">
                        Game
                    </div>
                    <div class="border rounded px-4 mt-1 pt-4 pb-1">
                        <MudSelect @bind-Value="GameType" HelperText="Game" Class="mx-4" Typo="@Typo.h5">
                            <MudSelectItem Value="GameType.X01">X01</MudSelectItem>
                            <MudSelectItem Value="GameType.Cricket">Cricket</MudSelectItem>
                            <MudSelectItem Value="GameType.CtCricket">Cut-Throat Cricket</MudSelectItem>
                            <MudSelectItem Value="GameType.AroundTheClock">Around The Clock</MudSelectItem>
                        </MudSelect>                    
                        @if(GameType == GameType.X01){
                            <MudSelect @bind-Value="X01Value" HelperText="Points" class="mt-4 mx-4" Typo="@Typo.h5">
                                <MudSelectItem Value="301" >301</MudSelectItem>
                                <MudSelectItem Value="401" >401</MudSelectItem>
                                <MudSelectItem Value="501" >501</MudSelectItem>
                                <MudSelectItem Value="601" >601</MudSelectItem>
                                <MudSelectItem Value="701" >701</MudSelectItem>
                                <MudSelectItem Value="801" >801</MudSelectItem>
                                <MudSelectItem Value="901" >901</MudSelectItem>
                                <MudSelectItem Value="1001" >1001</MudSelectItem>
                            </MudSelect>
                            <MudSelect @bind-Value="InModifier" HelperText="IN" class="mx-4" Typo="@Typo.h5">
                                <MudSelectItem Value="InOutModifier.None">-</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.Double">Double</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.Triple">Triple</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.FullBull">Full Bull</MudSelectItem>
                            </MudSelect>
                            <MudSelect @bind-Value="OutModifier" HelperText="OUT" class="mx-4" Typo="@Typo.h5">
                                <MudSelectItem Value="InOutModifier.None">-</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.Double">Double</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.Triple">Triple</MudSelectItem>
                                <MudSelectItem Value="InOutModifier.FullBull">Full Bull</MudSelectItem>
                            </MudSelect>
                        }
                        <div>
                            <MudCheckBox @bind-Value="ShufflePlayers" Disabled="IsTournament" Label="Shuffle players" Size="Size.Large"></MudCheckBox>
                        </div>
                        @if(GameType != GameType.AroundTheClock){
                            <MudCheckBox @bind-Value="QuickFinish" Label="Finish game after 1st rank" Disabled="IsTournament" Size="Size.Large"></MudCheckBox>
                        }
                    </div>
                </MudItem>
                <MudItem>
                    <div class="text-lg">
                        Players
                    </div>
                    @* <div class="flex flex-row justify-between mb-1">

                        <div>
                            <MudIconButton Icon="@Icons.Material.Filled.PlaylistAddCheck" Size="Size.Medium" Color="Color.Inherit" OnClick="SelectAll"/> 
                        </div>
                    </div> *@
                    <div class="border rounded p-4 mt-1 overflow-auto" style="width: 20rem; height: 668px;">
                        <div>
                            @foreach (var player in Players)
                            {
                                <SelectablePlayer Player="@player" SelectedPlayers="@SelectedPlayers" OnSelectionChange="@SelectionChanged"/>
                            }
                        </div>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </div>
</div>

@code{

    private GameType GameType { get; set; }
    
    private bool IsTournament {get;set; }

    private int PlayersPerGame {get;set;} = 2;

    private bool LosersCupForThirdRank {get;set;} = true;

    private bool QuickFinish {get;set; }
    
    private int X01Value { get; set; } = 501;
    
    private InOutModifier InModifier { get; set; }
    
    private InOutModifier OutModifier { get; set; } = InOutModifier.Double;

    private List<PlayerEntity> Players { get; set; } = new();

    private List<Guid> SelectedPlayers { get; set; } = new();

    private bool ShufflePlayers { get; set; }

    private const string PlayersStorageKey = "UsedPlayers";
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var tenantId = AuthService.Tenant?.Id;
        
        try{
            if(tenantId != null)
                Players = await PlayerRepo.GetPlayers(tenantId.Value);
        }catch(Exception ex){
            Logger.LogError(ex, "Loading available players threw an error");
            Snackbar.Add("An unexpected error occured", Severity.Error);
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if(!firstRender)
            return;

        try{
            var preselectedPlayerIds = await BrowserStorage.GetSessionItem<List<Guid>>(PlayersStorageKey);

            if(preselectedPlayerIds == null)
                return;

            foreach(var id in preselectedPlayerIds)
                if(Players.Any(x => x.Id == id))
                    SelectedPlayers.Add(id);
            
            StateHasChanged();
        }catch(Exception){}
    }

    private void SelectionChanged(Guid playerId){
        if(SelectedPlayers.Contains(playerId))
            SelectedPlayers.Remove(playerId);
        else
            SelectedPlayers.Add(playerId);
    }
    
    private async Task HandleNewGame(){
        if(!SelectedPlayers.Any()){
            Snackbar.Add("No players selected!", Severity.Error);
            return;
        }

        try
        {
            if (IsTournament)
                await CreateNewTournament();
            else
                await CreateNewGame();

            await BrowserStorage.SetSessionItem<List<Guid>>(PlayersStorageKey, SelectedPlayers, TimeSpan.FromHours(2));
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Creating new game threw an error");
            Snackbar.Add("An unexpected error occured", Severity.Error);
        }
    }

    private async Task CreateNewGame()
    {
        var players = SelectedPlayers.ToList();
            
        if (ShufflePlayers)
            players.Shuffle();

        var tenantId = AuthService.Tenant?.Id;

        if (tenantId == null)
            return;
        
        var state = await GameRepo.CreateGame(tenantId.Value, players, GameType, QuickFinish, X01Value, InModifier, OutModifier);

        NavigationManager.NavigateTo("/game/" + state.Id);
    }

    private async Task CreateNewTournament()
    {
        if(SelectedPlayers.Count < 4){
            Snackbar.Add("At least four players are required!", Severity.Error);
            return;
        }

        var players = SelectedPlayers.ToList();
        players.Shuffle();

        var tenantId = AuthService.Tenant?.Id;
        if (tenantId == null)
            return;

        var state = await TournamentRepo.CreateTournament(tenantId.Value, players, PlayersPerGame, GameType, LosersCupForThirdRank, X01Value, InModifier, OutModifier);
        
        NavigationManager.NavigateTo("/tournament/" + state.Id);
    }

    private void GoToGames()
    {
        NavigationManager.NavigateTo("/games");
    }

}