@page "/players"
@using Flights.Client.Authentication
@using Flights.Client.Configuration.Logging
@using Flights.Client.Shared.Players
@using Flights.Domain.Entities
@using Flights.Infrastructure.Port
@using Flights.Client.Shared.Toolkit

@inject IDialogService DialogService
@inject IPlayerRepository PlayerRepo
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject AppLogger<Players> Logger
@inject ISnackbar Snackbar

<PageTitle>Players</PageTitle>

<div class="flex flex-1 flex-row justify-center mt-4 overflow-hidden">
    <div class="flex flex-col mr-8">      
        <div class="mb-4">
            <BigRoundButton OnClick="@GoToGames" Type="BigRoundButton.ButtonType.Secondary  ">
                <MudIcon Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Large" Style="@($"color:{Colors.Gray.Lighten5};")"></MudIcon>
            </BigRoundButton>
        </div>
        <div>
            <BigRoundButton OnClick="@HandleNewPlayer">
                <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Large" Style="@($"color:{Colors.Gray.Lighten5};")"></MudIcon>
            </BigRoundButton>
        </div>
    </div>
    <div class="overflow-auto pr-3">
        @if (!AvailablePlayers.Any())
        {
            <div>
                No Players yet
            </div>
        }
        else
        {
            @foreach (var player in AvailablePlayers)
            {
                <PlayerItem Player="player"/>
            }
        }
    </div>
</div>

@code{

    private List<PlayerEntity> AvailablePlayers { get; set; } = new();

    protected override async Task OnInitializedAsync() => await RefreshPlayers();

    private async Task RefreshPlayers()
    {
        var tenantId = AuthService.Tenant?.Id;

        try{
            if(tenantId != null)
                AvailablePlayers = await PlayerRepo.GetPlayers(tenantId.Value);
        }catch(Exception ex){
            Logger.LogError(ex, "Loading players threw an error");
            Snackbar.Add("An unexpected error occured", Severity.Error);
        }
    }
    
    private async Task HandleNewPlayer()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<AddPlayerDialog>("Add player", options);
        var result = await dialog.Result;

        if (!result?.Canceled ?? false)
            await RefreshPlayers();
    }
    
    private void GoToGames()
    {
        NavigationManager.NavigateTo("/games");
    }
}