@page "/stats"

@using Flights.Client.Authentication
@using Flights.Client.Configuration.Logging
@using Flights.Client.Shared.Toolkit
@using Flights.Domain.State
@using Flights.Infrastructure.Port
@using Flights.Client.Shared.Statistics


@inject NavigationManager NavigationManager
@inject IStatRepository StatRepo;
@inject IAuthenticationService AuthService
@inject AppLogger<Statistics> Logger
@inject ISnackbar Snackbar

<PageTitle>Statistics</PageTitle>

<div class="flex flex-1 flex-row justify-center mt-2 p-2 overflow-hidden">
    <div class="mr-8">        
        <BigRoundButton OnClick="@GoToIndex" Type="BigRoundButton.ButtonType.Secondary">
            <MudIcon Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Large" Style="@($"color:{Colors.Gray.Lighten5};")"></MudIcon>
        </BigRoundButton>
    </div>
    <div class="flex flex-col overflow-y-auto pr-3">
        @if(IsLoading){
            <div class="w-96 text-center text-2xl mt-4">
                Loading..
                <MudProgressLinear Color="Color.Default" Indeterminate="true"/>
            </div>
        }
        @if(GameCount != null){
            <div class="@GetChartCardClass()">
                <GameCount Games="@GameCount"/>
            </div>
        }
        @if (PlayerWins.Any())
        {
            <div class="@GetChartCardClass() mt-2">
                <PlayerWinStats PlayerStats="@PlayerWins"/>
            </div>
        }
    </div>
</div>

@code{

    private bool IsLoading {get;set;} = true;

    private GameCountState? GameCount {get;set;}

    private List<PlayerWins> PlayerWins { get; set; } = new();

    private void GoToIndex()
    {
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if(firstRender){
            await LoadData();
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        var tenantId = AuthService.Tenant?.Id;
        if (tenantId == null)
            return;
        
        try{
            GameCount = await StatRepo.GetTotalGameCount(tenantId.Value);
            PlayerWins = await StatRepo.GetTotalPlayerWins(tenantId.Value);
        }catch(Exception ex){
            Logger.LogError(ex, "Loading statistics threw an error");
            Snackbar.Add("An unexpected error occured", Severity.Error);
        }
        
        IsLoading = false;
    }

    private string GetChartCardClass(){
        return "rounded-lg border border-light-border bg-light-surface mud-elevation-5 p-2 dark:bg-dark-surface dark:border-dark-border";
    }
}
