@using Flights.Client.Shared.Toolkit
@using Flights.Domain.State

<div id="@Player.PlayerId" class="rounded-lg mb-2 shadow-lg mud-elevation-3 mr-2 bg-light-surface dark:bg-dark-surface">
    <div class="@GetBorderClasses()">
        <div class="grid grid-cols-5 text-gray-600 py-2">
            <div class="grid grid-cols-4 @GetNameAndPointsClasses()">
                <div class="col-span-3 pl-4">
                    <MudStack Spacing="0">
                        <div class="text-4xl">
                            @Player.PlayerName
                        </div>
                        <div class="text-8xl font-bold">
                            @if(Player.Rank == null){
                                <AnimatedPoints Points="@Player.Points"/>
                            }else{
                                <div class="flex flex-row">
                                    <div class="">
                                        <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Default"/>
                                    </div>
                                    <div class="ml-1 text-6xl font-bold text-yellow-400 mt-5">
                                        @Player.Rank
                                    </div>
                                </div>
                            }                                                     
                        </div>
                    </MudStack>
                </div>
            </div>
            <div class="col-span-4 mr-2">
                <PlayerPoints Points="@Player.AroundTheClockState"/>
            </div>
        </div>        
    </div>                
</div>

@code{
    [Parameter]
    public PlayerState Player {get;set;} = null!;

    [Parameter]
    public Guid? CurrentPlayerId {get;set;}

    private string GetNameAndPointsClasses(){
        return Player.PlayerId == CurrentPlayerId
            ? "text-light-player-text-active py-2 dark:text-dark-player-text-active"
            : "text-light-player-text-inactive py-2 dark:text-dark-player-text-inactive";
    }

    private string GetBorderClasses(){
        var baseClasses = "rounded-lg border-l-[15px] border-t-2 border-b-2 border-r-2 ";

        if(Player.Rank != null)
            return baseClasses + "border-yellow-400";

        return Player.PlayerId == CurrentPlayerId
            ? baseClasses + "border-light-player-bd-active dark:border-dark-player-bd-active"
            : baseClasses + "border-light-player-bd-inactive dark:border-dark-player-bd-inactive";
    }
}