@using Flights.Domain.State

<div class="m-2">
    <div class="text-2xl m-2">
        Games played
    </div>
    <div class="flex flex-row">
        <div class="grid grid-cols-3 justify-items-end text-2xl mt-14 m-2"> 
            <div class="col-span-2">
                X01
            </div>
            <div class="text-gray-500">
                @Games?.X01
            </div>       
            <div class="col-span-2">
                Cricket
            </div>
            <div class="text-gray-500">
                @Games?.Cricket
            </div>   
            <div class="col-span-2">
                CT Cricket
            </div>
            <div class="text-gray-500">
                @Games?.CtCricket
            </div>   
            <div class="col-span-2">
                Shanghai
            </div>
            <div class="text-gray-500">
                @(Games?.Shanghai)
            </div>  
            <div class="font-bold col-span-2 mt-4">
                Total
            </div>
            <div class="mt-4 font-bold">
                @Games?.Total
            </div>
        </div>
        <div class="m-4 ml-12">
            <div class="grid grid-cols-7 justify-items-end">
                <div class="col-span-2">
                        @* empty *@
                </div>
                <div class="text-sm text-start transform -rotate-45">
                    X01
                </div>
                <div class="text-sm text-start transform -rotate-45">
                    Cricket
                </div>
                <div class="text-sm text-start transform -rotate-45">
                    Ct-Crick
                </div>
                <div class="text-sm text-start transform -rotate-45">
                    Shangh.
                </div>
                <div class="font-bold text-sm transform -rotate-45">
                    Total
                </div>                                                                                       
            </div>

            <div class="grid grid-cols-7 justify-items-end text-2xl mt-4">           
                @foreach(var player in Games?.PlayerGames ?? new()){
                    <div class="col-span-2">
                        @player.PlayerName
                    </div>
                    <div class="text-gray-500">
                        @player.GameCount.X01
                    </div>
                    <div class="text-gray-500">
                        @player.GameCount.Cricket
                    </div>
                    <div class="text-gray-500">
                        @player.GameCount.CtCricket
                    </div>
                    <div class="text-gray-500">
                        @player.GameCount.Shanghai
                    </div>
                    <div class="">
                        @player.GameCount.Total
                    </div>
                }
            </div>
        </div>
    </div>
 
</div>

@code{
    [Parameter]
    public GameCountState? Games {get;set;}
}