@using Flights.Domain.Entities
@using Flights.Domain.Models

@inject NavigationManager NavigationManager

<div class="rounded-md border border-gray-300 mud-elevation-3 bg-white">
    <div class="grid justify-items-center my-8">
        <div class="flex flex-row">
            <div class="mt-7 mr-4">
                <MudIcon Icon="@Icons.Material.Filled.CrisisAlert" Size="Size.Large" Color="Color.Default"/>
            </div>
            <div class="text-8xl font-bold text-gray-600">
                @CurrentTarget
            </div>
        </div>       
    </div>
    <div class="grid grid-cols-1 gap-2 pt-2 px-2">
        <ShanghaiScoreButton Caption="Single" Modifier="DartModifier.None" ReportScore="@ReportDart" Number="@CurrentTarget"/>
        <ShanghaiScoreButton Caption="Double" Modifier="DartModifier.Double" ReportScore="@ReportDart" Number="@CurrentTarget"/>
        <ShanghaiScoreButton Caption="Triple" Modifier="DartModifier.Triple" ReportScore="@ReportDart" Number="@CurrentTarget" Disabled="@(CurrentTarget == 25)"/>
    </div>
    <div class="grid grid-cols-2 gap-3 m-2 mt-10 h-[80px]">
        <ScoreButton Number="0" ReportScore="@ReportScore"/>
        <ScoreButton Caption="Miss" Number="0" ReportScore="@ReportNullDart"/>
    </div>
    <div class="grid grid-cols-2 gap-3 m-2 mt-[115px] h-[80px]">
        <div class="">
            <RevertButton RequestRevertDart="@RequestRevertDart"/>
        </div>      
        <div class="rounded bg-red-500 text-center py-2 cursor-pointer pt-5 mud-elevation-5"
            @onclick="GoToGames">
            <MudIcon Icon="@Icons.Material.Outlined.Close" Size="Size.Large" Color="Color.Default"/>
        </div>      
    </div>
</div>

@code{
    [Parameter]
    public int CurrentTarget {get;set;}

    [Parameter]
    public EventCallback<StatModel> ReportDart {get;set;}

    [Parameter]
    public EventCallback ReportMiss {get;set;}

    [Parameter]
    public EventCallback RequestRevertDart {get;set;}
    
    private async Task ReportScore(int score){
        await ReportDart.InvokeAsync(StatModel.Init(DartModifier.None, score));
    }

    private async Task ReportNullDart(int score){
        await ReportMiss.InvokeAsync();
    }

    private void GoToGames(){
        NavigationManager.NavigateTo("/games");
    }
}