<div class="@GetBorderClasses()">
    <div class="text-gray-400 mt-3 min-w-[15px] text-end">
        @if(PointValue == null){
            <div class="text-gray-200">
                @GetPointString()
            </div>    
        }else{
            @GetPointString()
        }
    </div>
    <div class="text-3xl ml-2">
        @if(PointValue == null){
            <div class="text-gray-200">
                @GetValueString()
            </div>    
        }else{
            @GetValueString()
        }
    </div>
</div>

@code{
    [Parameter]
    public int PointTarget {get;set;}

    [Parameter]
    public int? PointValue {get;set;}

    [Parameter]
    public int LastTarget {get;set;}

    private string GetPointString(){
        if(PointTarget == 25){
            return "Bulls";
        }

        return string.Empty + PointTarget;
    }

    private string GetValueString(){
        if(PointValue == null || PointValue == 0)
            return "-";

        if(PointValue == 0)
            return "/";

        return PointValue?.ToString() ?? string.Empty;
    }

    private string GetBorderClasses(){
        var baseClass = "flex flex-row border pl-7 "; //border-gray-200

        if(PointTarget == LastTarget)
            return baseClass + "border-green-500 border-2";

        return baseClass + "border-gray-200";
    }
}