@using Flights.Domain.State
@using Flights.Domain.Entities.Game

<div class="flex flex-row">
    @foreach(var darts in Checkouts.Take(Controls.DisplayType == DisplayType.Normal ? 2 : 3)){
        if(darts.GetDartsList().Count == 1){
            <div class="rounded-xl font-semibold text-2xl py-1 px-4 mr-2  @GetPillClasses()">
                <div class="flex flex-row">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D1!)
                    </div>
                    <div>
                        @GetDartValue(darts.D1!.Value)
                    </div>
                </div>
            </div>
        }

        if(darts.GetDartsList().Count == 2 ){
            <div class="flex flex-row rounded-xl font-semibold text-2xl py-1 px-4 mr-2  @GetPillClasses()">
                <div class="flex flex-row">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D1!)
                    </div>
                    <div>
                        @GetDartValue(darts.D1!.Value)
                    </div>
                </div>
                <div class="flex flex-row border-gray-300 border-l pl-2 ml-2">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D2!)
                    </div>
                    <div>
                        @GetDartValue(darts.D2!.Value)
                    </div>
                </div>
            </div>
        }

        if(darts.GetDartsList().Count == 3){
            <div class="flex flex-row rounded-xl font-semibold text-2xl py-1 px-4 mr-2  @GetPillClasses()">
                <div class="flex flex-row">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D1!)
                    </div>
                    <div>
                        @GetDartValue(darts.D1!.Value)
                    </div>
                </div>
                <div class="flex flex-row border-gray-300 border-l border-r px-2 mx-2">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D2!)
                    </div>
                    <div>
                        @GetDartValue(darts.D2!.Value)
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="text-lg mr-[2px]">
                        @GetDartString(darts.D3!)
                    </div>
                    <div>
                        @GetDartValue(darts.D3!.Value)
                    </div>
                </div>
            </div>
        }

    }
</div>

@code{
    [CascadingParameter]
    public required GameControls Controls { get; set; }

    [Parameter] public List<DartsState> Checkouts { get; set; } = new ();

    [Parameter]
    public bool IsCurrentPlayer {get;set;}

    public string GetDartString(DartState dart){
        var result = "";

        switch(dart.Modifier){
            case DartModifier.None:
                break;
            case DartModifier.Double:
                result += "D";
                break;
            case DartModifier.Triple:
                result += "T";
                break;
        }

        //result += dart.Value;
        return result;
    }

    public string GetDartValue(int value){
        if(value == 25)
            return "B";

        return value.ToString();
    }

    private string GetPillClasses(){
        var baseClass = "";

        if(IsCurrentPlayer)
            return baseClass + "bg-blue-800 text-white ";

        return baseClass + "bg-gray-400 text-white ";
    }
}