@using Flights.Domain.State

<div id="@Player.PlayerId" class="rounded-lg mb-2 shadow-lg mud-elevation-3 mr-2 bg-light-surface dark:bg-dark-surface">
    <div class="@GetBorderClasses()">
        <div class="grid grid-cols-2 @GetNameAndPointsClasses() ">
            <div class="grid grid-cols-5">
                <div class="col-span-3 pl-4">
                    <MudStack Spacing="0">
                        <div class="text-4xl">
                            @Player.PlayerName
                        </div>
                        <div class="text-8xl font-bold">
                            @if(Player.Rank == null){
                                @Player.Points   
                            }else{
                                <div class="flex flex-row">
                                    <div class="">
                                        <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Default"/>
                                    </div>
                                    <div class="ml-1 mt-5 text-6xl font-bold text-yellow-400">
                                        @Player.Rank
                                    </div>
                                </div>
                            }                                                     
                        </div>
                    </MudStack>
                </div>
                <div class="flex flex-col pt-5 text-[#777777] dark:text-[#919294]">
                    <div class="flex flex-row items-center">
                        <div class="ml-1 text-2xl">
                            <span>&Sigma;</span>
                        </div>
                        <div class="ml-[14px] text-lg">
                            @(Player.Darts?.Sum() ?? 0)
                        </div>
                        @if(Player.IsBust){
                            <div class="ml-2">
                                <MudIcon Icon="@Icons.Material.Filled.Clear" Size="Size.Medium" Color="Color.Error"/>
                            </div>
                        }
                    </div>
                    <div class="flex flex-row items-center mt-1">
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Filled.HideSource" Size="Size.Medium" Color="Color.Default"/>
                        </div>
                        <div class="ml-2 mt-0 text-lg">
                            @Player.X01State!.PointAvg
                        </div>
                    </div>
                    <div class="flex flex-row items-center mt-1">
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Filled.Grade" Size="Size.Medium" Color="Color.Default"/>
                        </div>
                        <div class="ml-2 mt-0 text-lg">
                            @Player.X01State.PointMax
                        </div>
                    </div>
                </div>
                <div class="flex flex-col pt-5 text-[#777777] dark:text-[#919294]">
                    <div class="flex flex-row items-center mt-1">
                        <Triple20Indicator State="@Player.X01State"></Triple20Indicator>
                    </div>
                    <div class="flex flex-row items-center mt-2 ml-2">
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Filled.LocalLaundryService" Size="Size.Medium" Color="Color.Default"/>
                        </div>
                        <div class="ml-2 mt-0 text-lg">
                            @Player.X01State!.WashmachineCount
                        </div>
                    </div>
                    <div class="flex flex-row items-center mt-1 ml-2">
                        <div class="">
                            <MudIcon Icon="@Icons.Material.Outlined.Clear" Size="Size.Medium" Color="Color.Default"/>
                        </div>
                        <div class="ml-2 mt-0 text-lg">
                            @Player.X01State!.Misses
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid items-center">
                <DartStats Darts="@Player.Darts" IsBust="@Player.IsBust"/>
                @if(Player.Checkouts != null){
                    <div class="grid justify-items-center">
                        <CheckoutDarts Checkouts="@Player.Checkouts" IsCurrentPlayer="@(CurrentPlayerId == Player.PlayerId)"/>
                    </div>
                }
            </div>
        </div>        
    </div>                
</div>

@code{
    [Parameter]
    public PlayerState Player {get;set;} = null!;

    [Parameter]
    public Guid? CurrentPlayerId {get;set;}

    private string GetNameAndPointsClasses(){
        return Player.PlayerId == CurrentPlayerId
            ? "text-light-player-text-active py-2 dark:text-dark-player-text-active"
            : "text-light-player-text-inactive py-2 dark:text-dark-player-text-inactive";
    }

    private string GetBorderClasses(){
        var baseClasses = "rounded-lg border-l-[15px] border-t-2 border-b-2 border-r-2 ";

        if(Player.Rank != null)
            return baseClasses + "border-yellow-400";

        return Player.PlayerId == CurrentPlayerId
            ? baseClasses + "border-light-player-bd-active dark:border-dark-player-bd-active"
            : baseClasses + "border-light-player-bd-inactive dark:border-dark-player-bd-inactive";
    }
}