@using Flights.Domain.State

<div id="@Player.PlayerId" class="rounded-lg mb-2 border border-gray-200 shadow-lg mud-elevation-3">
    <div class="@GetBorderClasses()">
        <div class="grid grid-cols-2 text-gray-600 py-2 ">
            <div class="grid grid-cols-4">
                <div class="col-span-3 pl-2">
                    <MudStack Spacing="0">
                        <div class="text-6xl">
                            @Player.PlayerName
                        </div>
                        <div class="text-8xl font-bold">
                            @if(Player.Rank == null){
                                @Player.Points   
                            }else{
                                <div class="flex flex-row">
                                    <div class="">
                                        <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Default"/>
                                    </div>
                                    <div class="ml-1 text-6xl font-bold text-gray-500">
                                        @Player.Rank
                                    </div>
                                </div>
                            }                                                     
                        </div>
                    </MudStack>
                </div>
                <div class="flex flex-row items-center">
                    <div class="">
                        <MudIcon Icon="@Icons.Material.Filled.CrisisAlert" Size="Size.Medium" Color="Color.Default"/>
                    </div>
                    <div class="ml-1 text-gray-700 text-lg">
                        @Player.PointAvg
                    </div>
                </div>
            </div>
            <div class="grid items-center">
                <DartStats Darts="@Player.Darts" IsBust="@Player.IsBust"/>
                @if(@CurrentPlayerId == Player.PlayerId && Player.Checkout != null){
                    <div class="grid justify-items-center">
                        <CheckoutDarts Checkout="@Player.Checkout"/>
                    </div>
                }
            </div>
        </div>        
    </div>                
</div>

@code{
    [Parameter]
    public PlayerState Player {get;set;} = null!;

    [Parameter]
    public Guid? CurrentPlayerId {get;set;}

    private string GetBorderClasses(){
        var baseClasses = "rounded-lg border-l-[15px] my-[-1px] ";

        return Player.PlayerId == CurrentPlayerId
            ? baseClasses + "border-green-600"
            : baseClasses + "border-gray-400";
    }
}