@using Flights.Domain.Entities
@using Flights.Domain.Models
@using Flights.Client.Shared.Game;
@using Flights.Domain.Entities.Game

@inject NavigationManager NavigationManager

<div class="rounded-md border border-gray-300 mud-elevation-3 bg-white">

    <div class="grid grid-cols-5 gap-2 pt-2 px-2">
        @for(var i = 1; i <= 20; i++){
            <div>
                <ScoreButton Number="@i" ReportScore="@ReportScore"/>
            </div>
        }
        <div>
            @* empty *@
        </div>
        <BullsButton SelectedModifier="@SelectedModifier" ReportScore="@ReportScore"/>
        <ScoreButton Number="0" ReportScore="@ReportScore"/>
        <ScoreButton Caption="Miss" Number="0" ReportScore="@ReportNullDart"/>
    </div>
    <div class="grid grid-cols-2 gap-3 px-2">
        <ModifierButton Target="DartModifier.Double"
                        Selected="@SelectedModifier"
                        ModifierChanged="@ModifierChanged"/>
        <ModifierButton Target="DartModifier.Triple"
                        Selected="@SelectedModifier"
                        ModifierChanged="@ModifierChanged"/>
    </div>
    <div class="grid grid-cols-5 gap-3 px-2 mt-6">
        <div></div>
        <div class="col-span-3">
            <AirhornButton MenuPosX="605" MenuPosY="220"/>
        </div>
    </div>
    <div class="grid grid-cols-5 gap-3 m-2 mt-[27px] h-[80px]">
        <div class="col-span-3">
            <RevertButton RequestRevertDart="@RequestRevertDart"/>
        </div>      
        <div class="col-span-2 rounded bg-red-500 mud-elevation-5 text-center cursor-pointer pt-[22px]"
            @onclick="GoToGames">
            <MudIcon Icon="@Icons.Material.Outlined.Close" Size="Size.Large" Color="Color.Default"/>
        </div>      
    </div>
</div>

@code{
    [CascadingParameter]
    public Guid? TournamentId { get; set; }
    
    [Parameter]
    public EventCallback<StatModel> ReportDart {get;set;}

    [Parameter]
    public EventCallback ReportMiss {get;set;}

    [Parameter]
    public EventCallback RequestRevertDart {get;set;}

    public DartModifier SelectedModifier {get;set;} = DartModifier.None;

    private void ModifierChanged(DartModifier modifier){
        if(SelectedModifier == modifier){
            SelectedModifier = DartModifier.None;
            return;
        }
        
        SelectedModifier = modifier;
    }

    private async Task ReportScore(int score){
        await ReportDart.InvokeAsync(StatModel.Init(SelectedModifier, score));

        SelectedModifier = DartModifier.None;
    }

    private async Task ReportNullDart(int score){
        await ReportMiss.InvokeAsync();
    }

    private async Task RequestRevert(){
        await RequestRevertDart.InvokeAsync();
    }

    private void GoToGames(){
        if (TournamentId != null)
            NavigationManager.NavigateTo("/tournament/" + TournamentId);
        else
            NavigationManager.NavigateTo("/games");
    }
}