@using Flights.Client.Authentication
@using Flights.Client.Shared.Game
@using Flights.Domain.Entities
@using Flights.Domain.State
@using Flights.Infrastructure.Port

@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@inject IPlayerRepository PlayerRepo
@inject IAuthenticationService AuthService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="flex flex-row justify-center rounded-lg border mud-elevation-3 py-2 border-light-border bg-light-surface dark:border-dark-border dark:bg-dark-surface">
    <div class="flex flex-grow justify-center ml-4 mr-4 cursor-pointer" @onclick="GoToGame">
    @if(Game.IsLosersCup == false){
        <div class="text-center text-2xl text-light-player-text-active dark:text-dark-player-text-active">
            @if(Game.Players.Count == 2){
                <div class="flex flex-row justify-center">
                    @if(Game.Players.First().Rank == 1){
                        <div class="flex mr-1 mt-1">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Medium" Color="Color.Warning"/>
                        </div>
                    }
                    <div class="">
                        @Game.Players.First().Name
                    </div>
                </div>

                <div class="text-lg text-[#777777] dark:text-[#919294] -my-2">
                    x
                </div>

                <div class="flex flex-row justify-center">
                    @if(Game.Players.Last().Rank == 1){
                        <div class="flex mr-1 mt-1">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Medium" Color="Color.Warning"/>
                        </div>
                    }
                    <div class="">
                        @Game.Players.Last().Name
                    </div>
                </div>
            }

            @if(Game.Players.Count > 2){
                foreach(var player in Game.Players){
                    <div class="flex flex-row justify-center">
                        @if(player.Rank == 1){
                            <div class="flex mr-1 mt-1">
                                <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Medium" Color="Color.Warning"/>
                            </div>
                        }
                    <div class="">
                        @player.Name
                    </div>
                </div>
                }
            }
        </div>
    }
    @if(Game.IsLosersCup){
        <div class="flex flex-col">
            @if(Game.IsSemiFinal){
                <div class="text-center text-[#777777] dark:text-[#919294] mb-1">
                    Losers Cup
                </div>
            }      
            @if(!Game.IsSemiFinal){
                <div class="text-center text-[#777777] dark:text-[#919294] mb-1">
                    Second chance
                </div>
            }         
            @foreach(var player in Game.Players){
                <div class="flex flex-row justify-center">
                    @if(player.Rank == 1){
                        <div class="mr-1 mt-1">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Medium" Color="Color.Warning"/>
                        </div>
                    }
                    <div class="text-center text-2xl text-light-player-text-active dark:text-dark-player-text-active">
                        @player.Name
                    </div>
                </div>
            }
            @if(!Game.IsLosersCupReady){
                <div class="mt-2 text-center">
                    <MudIcon Icon="@Icons.Material.Outlined.HourglassTop" Size="Size.Medium" Color="Color.Default"/>
                </div>
            }
        </div>
    }
    </div>
    @if(Controls.DisplayType == DisplayType.Normal && !Game.Finished){
        <div class="flex flex-shrink items-center">
            <div class="self-center cursor-pointer">
                <MudMenu>
                    <ActivatorContent>
                        <MudIcon Icon="@Icons.Material.Filled.MoreVert" Size="Size.Large" Color="Color.Default"/>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem IconColor="Color.Primary" 
                            Icon="@Icons.Material.Filled.PlayArrow" OnClick="@GoToGame">Play</MudMenuItem>
                        <MudMenuItem IconColor="Color.Default" 
                            Icon="@Icons.Material.Filled.Shuffle" Disabled="@Game.Started" OnClick="@SwitchPlayers">Switch players</MudMenuItem>
                        @if(Game.IsLosersCup && Game.IsSemiFinal){
                            <MudMenuItem IconColor="Color.Secondary" 
                                Icon="@Icons.Material.Filled.PlaylistRemove" OnClick="@SkipLosersCup" Disabled="@Game.Finished" >Skip Losers Cup</MudMenuItem>
                        }
                        @if(!Game.IsSemiFinal && !Game.IsFinal){
                            <MudMenuItem IconColor="Color.Secondary"
                                         Icon="@Icons.Material.Filled.PlaylistRemove" OnClick="@AddPlayerToGame" Disabled="@IsAddPlayerDisabled()">Add Player</MudMenuItem>
                        }
                        @if(Environment.IsDevelopment()){              
                            <MudMenuItem IconColor="Color.Default" 
                                Icon="@Icons.Material.Filled.Construction" OnClick="@DevFinishGame" Disabled="@Game.Finished" >Finish game (DEV)</MudMenuItem>
                        }               
                    </ChildContent>
                </MudMenu>
            </div>
        </div>
    }
</div>

@code{
    [CascadingParameter]
    public required TournamentControls Controls {get;set;}
    
    [Parameter]
    public required TournamentGameState Game {get;set;}

    private void GoToGame(){
        if(Controls.DisplayType == DisplayType.Viewer)
            return;

        if(Game.IsLosersCup && Game.GameId == null){
            Snackbar.Add("Losers cup is not ready!", Severity.Error);
            return;
        }

        NavigationManager.NavigateTo("/game/" + Game.GameId);
    }

    private async Task DevFinishGame()
    {
        if (Game.IsLosersCup && Game.GameId == null)
        {
            Snackbar.Add("Losers cup is not ready for finish!", Severity.Error);
            return;
        }

        if (Controls.DevFinishGame == null)
            return;

        await Controls.DevFinishGame(Game.GameId!.Value);
    }
    
    private async Task SwitchPlayers()
    {
        if (Game.Started)
        {
            Snackbar.Add("Game already started!", Severity.Error);
            return;
        }

        if (Controls.SwitchPlayerOrder == null)
            return;

        await Controls.SwitchPlayerOrder(Game.GameId!.Value);
    }

    private async Task SkipLosersCup()
    {
        if (Controls.SkipLosersCup == null)
            return;
        
        await Controls.SkipLosersCup();
    }

    private async Task AddPlayerToGame()
    {
        if (Controls.AddPlayerToGame == null)
            return;

        var tenantId = AuthService.Tenant?.Id;
        if (tenantId == null)
            return;
        
        //load and filter players
        var existingPlayerIds = Controls.CurrentTournament.Players.Select(x => x.Id);
        var allPlayers = await PlayerRepo.GetPlayers(tenantId.Value);
        var availablePlayers = allPlayers.Where(x => existingPlayerIds.Contains(x.Id) == false).ToList();
        
        //show dialog
        var parameters = new DialogParameters<SelectPlayerDialog>
        {
            { x => x.Players, availablePlayers },
        };
        
        var dialog = await DialogService.ShowAsync<SelectPlayerDialog>("Select player", parameters);
        var result = await dialog.Result;

        //request add
        if (result?.Canceled == false && result.Data is PlayerEntity player)
        {
            var gameId = Game.TournamentGameId;
            var playerId = player.Id;
            
            await Controls.AddPlayerToGame(gameId, playerId);
        }
    }

    private bool IsAddPlayerDisabled()
    {
        var finalOrSemi = Game.IsSemiFinal || Game.IsFinal;
        var startedOrFinished = Game.Started || Game.Finished;

        if (startedOrFinished || finalOrSemi || Game.GameId == null)
            return true;

        return false;
    }
}