@using Flights.Domain.State;

<div class="flex flex-col justify-evenly h-[752px]">
    @if(Round?.Wildcard != null){
        <Wildcard Player="@Round.Wildcard"/>
    }
    @if (Round?.Games != null)
    {
        foreach(var game in Round.Games){
            <GameItem Game="@game"
                      RequestSwitchPlayerOrder="@RequestSwitchPlayerOrder"
                      RequestSkipLosersCup="@RequestSkipLosersCup"
                      RequestDevFinishGame="@RequestDevFinishGame"/>
        }
    }
</div>

@code{
    [CascadingParameter]
    public TournamentRoundState? Round {get;set;} 
    
    [Parameter]
    public EventCallback<Guid> RequestSwitchPlayerOrder { get; set; }
    
    [Parameter]
    public EventCallback RequestSkipLosersCup { get; set; }
    
    [Parameter]
    public EventCallback<Guid> RequestDevFinishGame { get; set; }
}    


